<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="header container-fluid">
      Snorkelology
    </div>
  </nav>
</header>


<main>

  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">

    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>

    <div class="carousel-inner">

      <div class="carousel-item active">
        <a href="#about">
          <img src="../assets/photos/post-snorkeling-child-cropped.jpg" class="d-block w-100" alt="Child walking up beach after snorkeling">
        </a>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Welcome to Snorkelology</h1>
            <p>Discover the wonders of British snorkelling for all the family</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <a href="#book">
          <img src="../assets/photos/drone-woman-snorkeling.jpg" class="d-block w-100" alt="Aerial photo of woman snorkeling in UK waters">
        </a>

        <div class="container">
          <div class="carousel-caption">
            <h1>Best Snorkelling Adventures in Britain  </h1>
            <p>Our new book out soon!</p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <a href="#partners">
          <img src="../assets/photos/shagging-crabs.jpg" class="d-block w-100" alt="Underwater photo of crabs...umm...cuddling">
        </a>

        <div class="container">
          <div class="carousel-caption text-end">
            <h1>Learn more about British snorkelling</h1>
            <p>Find out more about the wonderful individuals and organisations that are helping us explore British snorkelling </p>
            <!-- <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p> -->
          </div>
        </div>
      </div>

      <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>


  <!-- This will hold three latest blog posts
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">

    <!-- START THE FEATURETTES -->
    <!-- <hr class="featurette-divider py-3"> -->

    <!-- ABOUT US -->
    <a id="about"> </a>
    <div class="row featurette py-5">
      <div class="col-md-8">
        <h2 class="featurette-heading fw-normal lh-1">About Snorkelology<br />
        <span class="text-muted">Who are we and why are we here?</span></h2>
        <p></p>
        <p class="lead">
          Emma and Gordon are enthusiastic blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks
          blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks
          blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks
        </p>
        <p class="lead">
          Some more blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks
          blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks blah bollocks
        </p>
      </div>
      <div class="col-md-4">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">400x400</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- ABOUT THE BOOK -->
    <a id="book"> </a>
    <div class="row featurette py-5">
      <div class="col-md-8 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Best Snorkelling Adventures in Britain <br />
          <span class="text-muted">New book out soon</span></h2>
        <p class="lead">We are excited to anounce that we have partnered with
          <a href="https://wildthingspublishing.com/">Wild Things Publishing</a>
          to release our first book with the working
          title "Wild Swimming Marine Explorer: Best Snorkelling and Underwater Adventures in Britain"
        </p>
        <p class="lead">
          The book will be packed with information on the best sites to snorkel across Britain, complimented with inspiring
          photography, clear site finding advice and vital tips to get you started. Follow our blog as we discover more about
          the challenges of writing your first book with two young children in tow...
        </p>
      </div>
      <div class="col-md-4 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 400x400" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">400x400</text></svg>
      </div>
    </div>

    <hr class="featurette-divider">

    <!-- GET IN TOUCH -->
    <a id="contact"> </a>
    <div class="row featurette py-5">
      <div class="col-md-7">
        <h2 class="featurette-heading fw-normal lh-1">Tell us about your snorkelling adventures <br />
        <span class="text-muted">We'd love to hear from you.</span></h2>
        <p></p>
        <p class="lead">
          We'd love to hear about your best British snorkelling experiences, and about those very special sites you'd like to see in print.
          You can get in touch using email, twitter or instagram just use the links <a href="#footer">at the bottom of the page</a>.
        </p>
      </div>
      <div class="col-md-5">
        <img src="../assets/photos/girl-snorkelling.JPG" class="d-block w-100" alt="Wild Things Publishing Logo">
      </div>
    </div>

    <hr class="featurette-divider">
    <!-- /END THE FEATURETTES -->


    <a id="partners"></a>
    <div class="container px-4 py-5" id="featured-3">
      <h2 class="featurette-heading fw-normal lh-1">Other wonderful people and organisations...</h2>
      <div class="row g-4 py-3 row-cols-1 row-cols-lg-4">

        <div class="feature col p-1">
          <div class="h-100 p-2">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-2 w-100">
              <a href="https://wildthingspublishing.com/">
                <img src="../assets/logos/wild-things-publishing.jpg" class="d-block partner-logos" alt="Wild Things Publishing Logo">
              </a>
            </div>
            Wild Things Publishing are the inspiration and driving force behind an ever-growing number of Wild books covering blah
            ask Dan for suitable words.
          </div>
        </div>

        <div class="feature col p-1">
          <div class="h-100 p-2">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-2 w-100">
              <a href="https://jenandsimbenson.co.uk/">
                <img src="../assets/logos/wild-running-jacket-cover.jpg" class="d-block partner-logos" alt="Wild Running by Jen and Sim Benson">
              </a>
            </div>
            Jen and Sim write inspiring, award-winning guide-books and regularly contribute to outdoor magazines with articles and kit reviews -
            plus, they have been super helpful in getting our book-writing adventure started - check out their growing list of books here.
          </div>
        </div>

        <div class="feature col p-1">
          <div class="h-100 p-2">
            <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-2 w-100">
              <a href="https://www.sealalliance.org/">
                <img src="../assets/logos/seal-alliance.png" class="d-block partner-logos" alt="Seal Alliance Logo">
              </a>
            </div>
            Paragraph of text beneath the heading to explain the heading. We'll add onto it with another sentence and probably just keep going until we run out of words.
          </div>

        </div>


          <div class="feature col p-1">
            <div class="h-100 p-2">
              <div class="feature-icon d-inline-flex align-items-center justify-content-center fs-2 mb-2 w-100">
                <a href="https://scottishwildlifetrust.org.uk/">
                  <img src="../assets/logos/swt.png" class="d-block swt-background " alt="Scottoch Wildlife Trust Logo">
                </a>
              </div>
              Scottish Wildlife Trust ...
            </div>

          </div>


      </div>

    </div>

    <hr class="featurette-divider">
  </div><!-- /.container -->


    <!-- FOOTER -->
    <a id="footer"></a>
    <footer class="container">
    <div class="footer-content d-inline-flex align-items-center justify-content-center w-100 h-100 py-2 m-0">
      <!-- <div class="flex-grow-1">
        &copy; Snorkelology 2022, All Rights Reserved
      </div> -->
      <a href="https://twitter.com/snorkelology">
        <img src="../assets/logos/twitter.png" class="sm-image py-1 px-3">
      </a>

      <a href="https://www.instagram.com/snorkelology/">
        <img src="../assets/logos/instagram.png" class="sm-image py-1 px-3">
      </a>

      <img src="../assets/logos/email.png" class="sm-image py-1 px-3" title="hello@snorkelology.co.uk (click to copy to  your clipboard)">
    </div>
    <div class="d-inline-flex align-items-center justify-content-center w-100 h-100 p-0 m-0">
        &copy; Snorkelology 2022, All Rights Reserved
    </div>
    <!-- <p>&middot; &copy; 2017–2022 Snorkelology, All Rights Reseverved &middot;</p> -->
  </footer>
</main>
